.container{
    background-image: url('../images/Banner\ Image.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 1320px;
    height: 600px;
}
.text-overlay{
    color: aliceblue;
    text-align: center;
    padding: 300px;
    font-family: 'Open Sans', sans-serif;
}
.text{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
.new-year{
    text-align: center;
}
.color{
    color: red;
}
.party{
    background-image: url('../images/Vectorrr.png');
    width: 1310px;
    height: 600px;
    background-repeat: no-repeat;
}
.banner-text{
   color: white;
   font-family: 'Open Sans', sans-serif;
   /* padding: 100px; */
}
.button{
    background-color: black;
    color: aliceblue;
    border: 0;
    padding: 5px;
}
.center{
 text-align: right;
 /* padding: 0.008px 0px 0px 0px;
flex-direction: column; */
padding-bottom: 10px;
}
.red{
    color: red;
}
.colorful{
    text-align: center;
   background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
   width: 1320px;
   height: 450px;
   /* padding: 100px 50px 50px; */
   font-family: 'Open Sans', sans-serif;
}
.nav{
    padding: 100px;
}
.bg-clr{
    background-color: red;
    border: 0;
    padding: 10px;
    border-radius: 5px;
}

nav{
    display: flex;
    justify-content: space-between;
    /* background-color: blanchedalmond; */
    height: 345px;  
}
.class{
    border: 10px solid red;
    border-radius: 463px;
    border: 10px 15px 30px;
    padding: 10px;
    
}

.short{
    color: rgba(7, 2, 17, 0.60);
}
.holiday{
    text-align: center;
}
.discount{
    text-align: right;
    justify-content: right;
    border-radius: 16px 16px 0px 0px;
}
.shopping{
    display: ;
    gap: 10px;
    justify-content: baseline;
    border: 0px;
    
}
.shopping-item{
    display: flex;
}
.div{
    color: aliceblue;
    background-color: red;
    border-radius: 0px 40px 40px 0px ;
    border: 0;
    width: 200px;
    height: 70px;
}
.email{
    border-radius: 50px 0px 0px 50px ;
    border: 0;
    width: 600px;
    height: 70px;
}
.footer-column{
    /* background-color: black; */
    color: aliceblue;
    /* width: 1500px; */
    /* height: 600px; */
    display: flex;
    justify-content: space-between;
}
.number{
    display: flex;
    padding: 20px;
}
.footer{
    background-color: black;
    width: 1500px;
    height: 600px;
    /* display: flex; */
}
.logo{
    text-align: center;
}
.black{
    color: aliceblue;
    display: flex;
    justify-content: space-between;
}